In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("../csv_files/firstsem_cse.csv")

In [3]:
df.head()

,Student Name,EnrollMent No,SID,Scheme ID,AM-1 Internal,AM-1 External,AP-1 Internal,AP-1 External,MP Internal,MP External,...,ET LAB External,MP LAB Internal,MP LAB External,FOC LAB Internal,FOC LAB External,ED LAB Internal,ED LAB External,AC LAB Internal,AC LAB External,Total Credits
0,ABHISHEK,110102717,SID: 190000099690,SchemeID: 190272015001,17,35,24,50,25,30,...,53,36,40,36,45,30,45,37,56,27
1,ABHISHEK KUMAR VERMA,210102717,SID: 190000099691,SchemeID: 190272015001,17,57,23,64,22,47,...,48,38,45,36,47,34,55,39,58,27
2,ANJALI,510102717,SID: 190000099812,SchemeID: 190272015001,15,50,19,59,17,38,...,40,35,43,31,47,27,36,35,53,27
3,ANOOP PARASHAR,610102717,SID: 190000099813,SchemeID: 190272015001,9,31,18,31,20,46,...,40,36,46,36,45,32,37,29,46,27
4,ARSHWIN KUMAR,710102717,SID: 190000099814,SchemeID: 190272015001,17,28,25,42,22,49,...,48,38,35,31,45,30,32,33,50,27

### __Set The Column Student Name as the Index__

### __Drop the Enrollment No, Columns SID,Scheme ID, ALL LAB SUBJECTS (LAB IN THEIR NAME) and Total Credits from the DataFrame df__
Don't make new dataset save it to df as we have to do more operations that is dependent over it(If stuck better ask in the group)

### __Add a Column Name Total Marks which will have total marks of each row (Summation of all marks obtained)__

### __Combine all the columns__
* Combine Columns of External and Internal Marks into one i.e AM-1 Internal and AM-1 External must be added and stored to another column named AM-1 Total(drop the AM-1 Internal and AM-1 External After that). Use any of the technique you like and do the same for all the subjects.

** __ATTENTION__ **
* A subject named HVPE doesn't have internal marks.


__Dataframe after this step must look like__

| Student Name |AM-1 Total|AM-1 Total|AP-1 Total|MP Total|ET Total|HVPE Total| FOC Total|AC Total|Total Marks|
|------|------|------|------|------|------|------|------|------|--|

### __Find Mean Marks of All the subjects.__

### __Find Variance and Standard Deviation for each Subject and tell me what does it mean?__